name: Sequential Job Workflow

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1
        run: echo "This is first job"

  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: Step 2
        run: echo "This is second job"

  job3:
    runs-on: ubuntu-latest
    needs: job2
    steps:
      - name: Step 3
        run: echo "This is third job"
